.rating {
    display: flex;
    align-items: center;
}

input[type=radio] {
    display: none;
}

.star {
    cursor: pointer;

}

.rating p {
    padding-left: 5px;
    color: #FFB33E;
    font-weight: 700;
    font-size: 13px;
}

.rating span {
    padding-left: 5px;
    color: #62646A;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}