.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #010539;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.3s ease-in;
  /* height: 9vh; */
}

.navbar.active {
  background-color: #010539f8;
  color: rgb(255, 255, 255);
  transition: 0.2s ;
  /* height: 16vh; */
}

.navbar.active button {
  background-color: white !important;
  color: #1dbf73 !important;
  border: 1px solid #1dbf73 !important;
}

.navbar .container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.navbar .container .logo {
  font-size: 34px;
  font-weight: bold;
}

.navbar .container .logo .dot {
  font-weight: bold;
  color: #1dbf73;
}

.navbar .container .links {
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar .container .links span {
  white-space: nowrap;
}

.navbar .container .links  {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.navbar .container .links  img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .container .links  .options {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  font-weight: 300;
  color: gray;
}

.navbar .container .links button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

.navbar .container .links button:hover {
  background-color: #1dbf73;
  border-color: #1dbf73;
}

.navbar .menu {
  width: 800px;
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-weight: 300;
  
}

@media screen and (max-width: 1200px) {
  .navbar .container {
    width: 90%;
  }
}

/* Responsive styles for small screens */
@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: row;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .navbar .container {
    width: 100%;
    padding: 10px;
  }

  .navbar .container .logo {
    font-size: 24px;
  }


  /* .navbar .container .links {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    display: none;
  }

  .navbar .container .links .user {
    margin-top: 10px;
  }

  .navbar .container .links .user .options {
    top: 40px;
    right: 10px;
  } */

  .navbar .menu {
    display: none;
  }
  .img-2 {
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
  }
}
