.eventlist{
    align-items: center;
    justify-content: center;
    height: 180vh;
}

.Banner{
    width: 100%;
    height: 50vh;
}
.product {
    display: flex;
    justify-content: space-between;
}

.leftside {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    margin-top: 120px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #807D7E;
    font-family: Causten;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.filterimg {
    width: 20px;
    cursor: pointer;
    color: #807D7E;
}

.city h4 {
    color: #747474;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.citybtn {
    gap: 5px;
    margin-right: 5px;
}

.citybutton {
    border-radius: 20px;
    border: 1px solid #AAA;
    padding: 8px;
    background: #FFF;
    color: #747474;
    /* font-family: Roboto; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.citybutton2 {
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid #AAA;
    padding: 8px;
    background: #FFF;
    color: #747474;
    /* font-family: Roboto; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.citybutton3 {
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid #AAA;
    padding: 8px;
    background: #FFF;
    color: #747474;
    /* font-family: Roboto; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.language h4 {
    color: #747474;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.languagebtn {
    border-radius: 20px;
    border: 1px solid #AAA;
    padding: 8px;
    background: #FFF;
    color: #747474;
    /* font-family: Roboto; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.languagebtn2 {
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid #AAA;
    padding: 8px;
    background: #FFF;
    color: #747474;
    /* font-family: Roboto; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.formate h4 {
    color: #747474;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.formatebtn {
    border-radius: 20px;
    border: 1px solid #AAA;
    padding: 8px;
    background: #FFF;
    color: #747474;
    /* font-family: Roboto; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}
.formatebtn2 {
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid #AAA;
    padding: 8px;
    background: #FFF;
    color: #747474;
    /* font-family: Roboto; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}
.formatebtn2 {
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid #AAA;
    padding: 8px;
    background: #FFF;
    color: #747474;
    /* font-family: Roboto; */
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.rigthside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
}

.rigthside h1 {
    color: #1D275F;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
}


.events {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.eventProduct {
    max-width: 70%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
}

.eventContainer {
    display: flex;
}

.eventdown {
    padding-left: 25px;
}

.eventcontent {
    padding-left: 30px;
    margin-top: -25px;
}

.eventHeading {
    width: 300px;
    font-size: 18px;
    font-family: DM Sans;
}

.eventDesc {
    width: 300px;
    font-size: 18px;
    font-family: DM Sans;
}

.month {
    margin-top: -30px;
    color: #3D37F1;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Date {
    color: #000;
    font-family: DM Sans;
    font-size: 28.429px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -10px;
}

.Button {
    color: #3D37F1;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    cursor: pointer;
    width: 182.168px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1.5px solid #3D37F1;
    box-shadow: 0px 10px 50px 0px rgba(195, 193, 247, 0.562);
}

/* .eventProduct:hover{
    background-color: #000;
} */