.upcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-container {
    margin-top: 50px;

}

.event_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event_content h1 {
    color: #242565;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    justify-content: space-between;
    line-height: normal;
}

.Dropdown {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.dropbutton {
    background: #F2F4FF;
    color: #1D275F;
    padding: 20px;
    font-family: DM Sans;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding-right: 40px;
}

.dropdowncontent {
    position: relative;
    display: inline-block;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #fdf6f6;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownbutton:hover .dropdowncontent {
    display: block;
}

.downarrow {
    padding-top: 2px;
    position: absolute;
    padding-left: 10px;
}

.event {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.eventProduct {
    max-width: 70%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
}

.eventContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventdown {
    padding-left: 25px;
}

.eventcontent {
    padding-left: 30px;
    margin-top: -25px;
}

.eventHeading {
    width: 300px;
    font-size: 18px;
    font-family: DM Sans;
}

.eventDesc {
    width: 300px;
    font-size: 18px;
    font-family: DM Sans;
}

.month {
    margin-top: -30px;
    color: #3D37F1;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Date {
    color: #000;
    font-family: DM Sans;
    font-size: 28.429px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -10px;
}

@media only screen and (max-width: 1200px) {
    .event_content {
        display: flex;
        text-align: center;
    }

    .Dropdown {
        display: flex;
    }

    .dropbutton {
        margin-top: 20px;
        padding-right: 16px;
    }

    .event {
        flex-wrap: wrap;
        justify-content: center;
    }

    .eventProduct {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .eventHeading,
    .eventDesc,
    .month,
    .Date {
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .dropdownbutton{
        display: none;
    }
    .event_content{
        padding-left: 250px;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .dropdownbutton{
        display: none;
    }
    .event_content{
        padding-left: 100px;
        text-align: center;
    }
}