.wrapper {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.faqtop {
    text-align: center;
    color: #BE5272;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.02px;
    letter-spacing: 0.7px;
}

.faqtop p {
    font-size: 24px;
}

.faqtop h2 {
    color: #404145;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.accordion {
    width: 900px;
    border-bottom: #404145;
}

.wrapperitem {
    background: #ffffff;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.itemtitle {
    font-family: Helvetica Neue;
    color: #404145;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.itemcontent {
    color: black;
    font-family: popins;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.itemcontent.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.bottom{
    color: #404145;
    padding: 1px;
}
.faqdown{
    text-align: center;
}
.faqdown h4{
    font-weight: bold;
}
.faqdown p{
    columns: black;
    font-weight: 400px;
}
.faqdown span {
    color: #1DBF73;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        margin-top: 50px;
    }

    .faqtop h2 {
        font-size: 32px;
        line-height: 36px;
    }

    .accordion {
        width: 100%;
    }

    .wrapperitem {
        padding: 10px;
    }
}